<img
  id="card-detail-image"
  src="/images/cards/placeholder.jpg"
  alt="An illustration of the card type"
/>
<div id="card-detail-content">
  <h3 id="card-detail-title">Title</h3>
  <p id="card-detail-caption">Caption</p>
  <p id="card-detail-description">Description</p>
  <img
    id="card-detail-type-symbol"
    src="/images/icons/placeholder.png"
    alt="the card symbol"
  />
</div>
<button id="play-card-button">Play Card</button>
