<h2 id="draw-card-location-heading" style="display: none">You're on X.</h2>
<h2 id="draw-card-heading">Draw a Card.</h2>
<img src="/images/cards/placeholder.jpg" alt="" id="draw-card-image" />
<button id="draw-card-button">Draw</button>
