<h2 id="job-detail-planet">Planet Name</h2>
<h3 id="job-detail-system">System Name</h3>
<div id="job-detail-stats">
  <span>1x Difficulty</span>
  <span>Base Reward: $XX</span>
  <span>Hazard Pay: $X/Day</span>
</div>
<p id="job-detail-description">Planet Description</p>
<p id="job-detail-difficulty-description">Difficulty Description</p>
<p id="job-detail-hazard-description">Hazard Description</p>
<h2>Jobs</h2>
<ul id="job-detail-list"></ul>
