<h2 id="roll-dice-heading">Roll the Dice!</h2>
<img src="/images/dialogue/dice.png" alt="A pair of dice" />
<h2 id="roll-result">?</h2>
<button id="roll-x">Roll D<span id="die-sides">X</span></button>
<h3 id="roll-message" style="display: none"></h3>
<div id="roll-options" style="display: none">
  <p>Message</p>
  <div id="roll-option-buttons">
    <button id="roll-option-a">A</button>
    <button id="roll-option-b">B</button>
  </div>
</div>
