<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Starfield Mechanic</title>
    <!-- STYLES -->
    <link rel="stylesheet" href="/styles/shared.css" />
    <link rel="stylesheet" href="/styles/error-pages.css" />
  </head>
  <body>
    <div id="background"></div>
    <header>
      <img
        src="/images/error-screens/game-started.png"
        alt="A group of mechanics work on a machine. Two look at you confusedly."
      />
      <h2>Oops! This game is already in session.</h2>
      <h3>Please join another room!</h3>
    </header>
    <main></main>
  </body>
</html>
