<h2>Roll the Dice!</h2>
<img src="/images/dice.png" alt="A pair of dice" />
<ul id="roll-players-list">
  <li class="roll-player-entry">
    <h2 class="all-roll-result">?</h2>
    <div class="all-player-name-container">
      <h3 class="all-player-name">Player X</h3>
    </div>
    <button class="all-roll-x">
      Roll <span class="all-die-sides">X</span>
    </button>
    <p class="player-order">goes 1st</p>
  </li>
  <li class="roll-player-entry">
    <h2 class="all-roll-result">?</h2>
    <div class="all-player-name-container">
      <h3 class="all-player-name">Player X</h3>
    </div>
    <button class="all-roll-x">
      Roll <span class="all-die-sides">X</span>
    </button>
    <p class="player-order">goes 2nd</p>
  </li>
  <li class="roll-player-entry">
    <h2 class="all-roll-result">?</h2>
    <div class="all-player-name-container">
      <h3 class="all-player-name">Player X</h3>
    </div>
    <button class="all-roll-x">
      Roll <span class="all-die-sides">X</span>
    </button>
    <p class="player-order">goes 3rd</p>
  </li>
  <li class="roll-player-entry">
    <h2 class="all-roll-result">?</h2>
    <div class="all-player-name-container">
      <h3 class="all-player-name">Player X</h3>
    </div>
    <button class="all-roll-x">
      Roll <span class="all-die-sides">X</span>
    </button>
    <p class="player-order">goes 4th</p>
  </li>
</ul>
<p id="tie-message">Tie Message</p>
