<canvas id="board-grid" height="1200" width="1800"></canvas>
<ul id="jobs"></ul>
<ul id="ship-icons">
  <li id="ship-1" style="display: none">
    <img src="" alt="" />
  </li>
  <li id="ship-2" style="display: none">
    <img src="" alt="" />
  </li>
  <li id="ship-3" style="display: none">
    <img src="" alt="" />
  </li>
  <li id="ship-4" style="display: none">
    <img src="" alt="" />
  </li>
</ul>
