<ul id="cards-list">
  <li class="card">
    <div class="card-image">
      <img
        src="/images/cards/placeholder.jpg"
        alt="An illustration of the card type"
      />
    </div>
    <div class="card-content">
      <h3 class="card-title">Bodyguard Voucher</h3>
      <img
        class="card-type-symbol"
        src="/images/icons/placeholder.png"
        alt=""
      />
    </div>
  </li>
  <li class="card">
    <div class="card-image">
      <img
        src="/images/cards/placeholder.jpg"
        alt="An illustration of the card type"
      />
    </div>
    <div class="card-content">
      <h3 class="card-title">PTO</h3>
      <img
        class="card-type-symbol"
        src="/images/icons/placeholder.png"
        alt=""
      />
    </div>
  </li>
</ul>
