<section id="dashboard">
  <h3 id="location-string">You're at home base</h3>
  <button id="roll-to-fix" class="disabled">ROLL-TO-FIX</button>
  <div id="other-actions">
    <button id="trade">TRADE</button>
    <button id="play-card">PLAY CARD</button>
  </div>
  <button id="end-turn">END TURN</button>
</section>
