<h2>The Work Week's Over!</h2>
<p>
  Go home, enjoy a refreshing beverage, maybe spend some quality time with the
  family you barely know, and get ready to do it all again! Yeah!
</p>
<h2>Rankings</h2>
<ul id="rank-players">
  <li id="rank-player-1" class="rank-player-entry">
    <ul>
      <li class="rank-player-rank">
        <span>X</span>
      </li>
      <li class="rank-player-name">
        <img src="/images/wrench-red.png" alt="A wrench icon" />
        <span>Player X</span>
      </li>
      <li class="rank-player-money">
        <img src="/images/money.png" alt="A money icon" />
        <span>0</span>
      </li>
    </ul>
  </li>
  <li id="rank-player-2" class="rank-player-entry">
    <ul>
      <li class="rank-player-rank">
        <span>X</span>
      </li>
      <li class="rank-player-name">
        <img src="/images/wrench-red.png" alt="A wrench icon" />
        <span>Player X</span>
      </li>
      <li class="rank-player-money">
        <img src="/images/money.png" alt="A money icon" />
        <span>0</span>
      </li>
    </ul>
  </li>
  <li id="rank-player-3" class="rank-player-entry">
    <ul>
      <li class="rank-player-rank">
        <span>X</span>
      </li>
      <li class="rank-player-name">
        <img src="/images/wrench-red.png" alt="A wrench icon" />
        <span>Player X</span>
      </li>
      <li class="rank-player-money">
        <img src="/images/money.png" alt="A money icon" />
        <span>0</span>
      </li>
    </ul>
  </li>
  <li id="rank-player-4" class="rank-player-entry">
    <ul>
      <li class="rank-player-rank">
        <span>X</span>
      </li>
      <li class="rank-player-name">
        <img src="/images/wrench-red.png" alt="A wrench icon" />
        <span>Player X</span>
      </li>
      <li class="rank-player-money">
        <img src="/images/money.png" alt="A money icon" />
        <span>0</span>
      </li>
    </ul>
  </li>
</ul>
