<nav id="info-tabs">
  <ul>
    <li id="info-players-tab" class="active">Players</li>
    <li id="info-rules-tab">Rules</li>
    <li id="info-settings-tab">Settings</li>
  </ul>
</nav>
<section id="info-content">
  <ul>
    <li>
      <article id="info-players" class="active">
        <ul id="info-players-list">
          <li id="info-player-1" class="info-player-entry">
            <ul>
              <li class="info-player-name">
                <img src="/images/wrench-red.png" alt="A wrench icon" />
                <span>Player 1</span>
              </li>
              <li class="info-player-stats">
                <div class="info-player-money">
                  <img src="/images/money.png" alt="A money icon" />
                  <span>0</span>
                </div>
                <div class="info-player-exp">
                  <img src="/images/exp.png" alt="An experience icon" />
                  <span>0</span>
                </div>
              </li>
            </ul>
          </li>
          <li id="info-player-2" class="info-player-entry">
            <ul>
              <li class="info-player-name">
                <img src="/images/wrench-red.png" alt="A wrench icon" />
                <span>Player 2</span>
              </li>
              <li class="info-player-stats">
                <div class="info-player-money">
                  <img src="/images/money.png" alt="A money icon" />
                  <span>0</span>
                </div>
                <div class="info-player-exp">
                  <img src="/images/exp.png" alt="An experience icon" />
                  <span>0</span>
                </div>
              </li>
            </ul>
          </li>
          <li id="info-player-3" class="info-player-entry">
            <ul>
              <li class="info-player-name">
                <img src="/images/wrench-red.png" alt="A wrench icon" />
                <span>Player 3</span>
              </li>
              <li class="info-player-stats">
                <div class="info-player-money">
                  <img src="/images/money.png" alt="A money icon" />
                  <span>0</span>
                </div>
                <div class="info-player-exp">
                  <img src="/images/exp.png" alt="An experience icon" />
                  <span>0</span>
                </div>
              </li>
            </ul>
          </li>
          <li id="info-player-4" class="info-player-entry">
            <ul>
              <li class="info-player-name">
                <img src="/images/wrench-red.png" alt="A wrench icon" />
                <span>Player 4</span>
              </li>
              <li class="info-player-stats">
                <div class="info-player-money">
                  <img src="/images/money.png" alt="A money icon" />
                  <span>0</span>
                </div>
                <div class="info-player-exp">
                  <img src="/images/exp.png" alt="An experience icon" />
                  <span>0</span>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </article>
    </li>
    <li>
      <article id="info-rules">
        <p>
          Rules: Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore
          animi ipsam impedit id doloribus, minus, enim, voluptatem officiis
          quasi facere est placeat ea sapiente. Error natus pariatur a corrupti
          tempora!
        </p>
      </article>
    </li>
    <li>
      <article id="info-settings">
        <p>
          Settings: Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Beatae magni alias aspernatur possimus impedit cupiditate veritatis
          reiciendis commodi veniam ab inventore eum exercitationem quidem
          voluptatem sint dolores qui, neque eveniet.
        </p>
      </article>
    </li>
  </ul>
</section>
