<nav id="info-tabs">
  <ul>
    <li id="info-players-tab" class="info-tab active">Players</li>
    <li id="info-rules-tab" class="info-tab">Rules</li>
    <li id="info-settings-tab" class="info-tab">Settings</li>
  </ul>
</nav>
<section id="info-content">
  <ul>
    <li>
      <article id="info-players" class="info-content-article active">
        <section id="round-info">
          <span id="info-current-round">Week X, Day Y</span>
          <span id="info-end-condition">Goal: $X</span>
        </section>
        <ul id="info-players-list">
          <li id="info-player-1" class="info-player-entry">
            <ul>
              <li class="info-player-name">
                <img src="/images/icons/wrench-red.png" alt="A wrench icon" />
                <span>Player X</span>
              </li>
              <li class="info-player-stats">
                <div class="info-player-money">
                  <img src="/images/icons/money.png" alt="A money icon" />
                  <span>0</span>
                </div>
                <div class="info-player-exp">
                  <img src="/images/icons/exp.png" alt="An experience icon" />
                  <span>0</span>
                </div>
              </li>
            </ul>
          </li>
          <li id="info-player-2" class="info-player-entry">
            <ul>
              <li class="info-player-name">
                <img src="/images/icons/wrench-red.png" alt="A wrench icon" />
                <span>Player X</span>
              </li>
              <li class="info-player-stats">
                <div class="info-player-money">
                  <img src="/images/icons/money.png" alt="A money icon" />
                  <span>0</span>
                </div>
                <div class="info-player-exp">
                  <img src="/images/icons/exp.png" alt="An experience icon" />
                  <span>0</span>
                </div>
              </li>
            </ul>
          </li>
          <li id="info-player-3" class="info-player-entry">
            <ul>
              <li class="info-player-name">
                <img src="/images/icons/wrench-red.png" alt="A wrench icon" />
                <span>Player X</span>
              </li>
              <li class="info-player-stats">
                <div class="info-player-money">
                  <img src="/images/icons/money.png" alt="A money icon" />
                  <span>0</span>
                </div>
                <div class="info-player-exp">
                  <img src="/images/icons/exp.png" alt="An experience icon" />
                  <span>0</span>
                </div>
              </li>
            </ul>
          </li>
          <li id="info-player-4" class="info-player-entry">
            <ul>
              <li class="info-player-name">
                <img src="/images/icons/wrench-red.png" alt="A wrench icon" />
                <span>Player X</span>
              </li>
              <li class="info-player-stats">
                <div class="info-player-money">
                  <img src="/images/icons/money.png" alt="A money icon" />
                  <span>0</span>
                </div>
                <div class="info-player-exp">
                  <img src="/images/icons/exp.png" alt="An experience icon" />
                  <span>0</span>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </article>
    </li>
    <li>
      <article id="info-rules" class="info-content-article">
        <%- include('rules') %>
      </article>
    </li>
    <li>
      <article id="info-settings" class="info-content-article"></article>
    </li>
  </ul>
</section>
