<section id="radio-sine-container"></section>
<h2 id="radio-label">QUANT-A-WAVE</h2>
<section id="radio-display">
  <ul id="radio-messages"></ul>
</section>
<form type="text" id="radio-entry-box" method="get">
  <textarea
    name=""
    id="radio-entry-input"
    cols="24"
    rows="6"
    placeholder="Enter a message"
  ></textarea>
  <button type="submit">SEND ></button>
</form>
