<h2>Roll the Dice!</h2>
<img src="/images/dice.png" alt="A pair of dice" />
<h2 id="roll-result">?</h2>
<button id="roll-x">Roll <span id="die-sides">X</span></button>
<h3 id="roll-message" style="display: none"></h3>
