<ul id="info-rules-pages">
  <div id="info-controls"><%- include('info-controls') %></div>
  <li id="rules-overview" class="rule-page active">
    <p>
      Each work week, mechanics roll for order and a set of jobs are posted on
      the board. They then choose jobs in roll order and fly to their respective
      sites.
    </p>
    <p>
      Once on site, mechanics take turns rolling to fix jobs until they succeed.
    </p>
    <p>
      Mechanics may continue fixing additional jobs until the end of the work
      week.
    </p>
  </li>
  <li id="rules-jobs" class="rule-page">
    <p>
      Each work week, a new set of jobs appear on the board. Job difficulty is
      determined by location, job type, and sometimes the planet on which the
      job is located.
    </p>
    <p>
      Roll success is determined by job difficulty, a mechanic’s level of
      experience, and luck. If a mechanic has a successful roll, they will earn
      some amount of money and experience based on the difficulty level of the
      job.
    </p>
    <p>
      A mechanic may choose to leave a job at any time, but won’t get paid
      unless they’ve had a successful roll. If a mechanic leaves a job without
      completing it, other mechanics may still attempt fixing it.
    </p>
  </li>
  <li id="rules-days-weeks" class="rule-page">
    <p>
      There are 5 days in a work week. Each day, mechanics take turns traveling,
      fixing jobs, and performing other actions.
    </p>
    <p>
      The number of work weeks depends on the option chosen at the beginning of
      the game. If the end condition is set to money, the game will conclude at
      the end of the work week in which one or more mechanics reaches the set
      money goal. If the end condition was set to weeks, the game will conclude
      once the set number of work weeks has elapsed.
    </p>
  </li>
  <li id="rules-travel" class="rule-page">
    <p>
      Traveling to jobs takes time. Depending on how far away a job is, it may
      take several days to get there.
    </p>
    <p>
      When selecting a job, a line with a day counter will appear. This is how
      long it will take to reach the job from the mechanic’s current location.
    </p>
    <p>
      Mechanics may travel instantly between jobs located on the same planet or
      on another planet in the same system.
    </p>
  </li>
  <li id="rules-hazards" class="rule-page">
    <p>
      Some planets have hazards which mechanics must roll for. Getting caught by
      a hazard can result in loss of money, cards, or spending the rest of the
      work week in the hospital.
    </p>
    <p>
      Jobs on hazardous planets earn mechanics hazard pay, a daily amount earned
      independent of job completion.
    </p>
  </li>
  <li id="rules-cards" class="rule-page">
    <p>
      There are three types of cards: event cards, single-use cards, and hold
      cards.
    </p>
    <p>
      Event cards are played as soon as they are drawn. They may impact jobs,
      travel, introduce new hazards, or otherwise alter the game.
    </p>
    <p>
      Single-use cards are saved and can be played by the holder at a later
      time. These cards may help the mechanic playing them, sabotage other
      mechanics, or otherwise alter the game.
    </p>
    <p>
      Hold cards lend a special power to the holder. There are only as many hold
      cards as mechanics in the game.
    </p>
    <p>
      Some cards are only drawn at job sites, others only when traveling. Still
      others can be drawn at any point.
    </p>
  </li>
</ul>
