<li id="job-icon-template">
  <div class="icon">
    <img src="/images/planets/000.png" alt="A planet icon" />
    <span class="image-number"></span>
  </div>
  <!-- <img src="/images/planets/000.png" alt="A planet icon" /> -->
  <div class="bubble">
    <h3 class="name">0</h3>
    <p class="num-jobs">0</p>
    <p class="difficulty">0</p>
    <p class="reward">0</p>
    <p class="hazard-pay">0</p>
  </div>
</li>
