<li class="job-icon-template">
  <div class="icon">
    <img src="/images/planets/000.png" alt="A planet icon" />
    <span class="image-number"></span>
  </div>
  <div class="bubble">
    <h3 class="name">0</h3>
    <p class="num-jobs">0</p>
    <p class="difficulty">0</p>
    <p class="reward">0</p>
    <p class="hazard-pay">0</p>
  </div>
  <span class="indices" style="display: none"></span>
</li>
<li class="job-detail-entry" style="display: none">
  <div class="content">
    <h3>Job Location</h3>
    <h4>Job Type</h4>
    <p>Job Description</p>
    <p>Difficulty Description</p>
    <div class="job-detail-entry-stats">
      <span>Difficulty</span>
      <span>Exp</span>
      <span>Pay</span>
    </div>
    <button>Attempt Job</button>
  </div>
  <div class="job-detail-image">
    <img
      src="/images/job-detail/placeholder.jpg"
      alt="An illustration of the job-type"
    />
    <div class="image-overlay-screen"></div>
    <span class="image-overlay"></span>
  </div>
</li>
