<div id="background"></div>
<h1>You're in Room <%= room.id %></h1>
<button type="button" id="start-game-button">Start Game!</button>
<ul id="joined-players"></ul>
<h2>You're <span id="player-name-display">XX</span></h2>
<form action="" id="name-entry">
  <label for="set-name">Change your name</label>
  <input type="text" id="set-name" name="setname" />
  <button type="submit">Set Name</button>
</form>
