#board {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

canvas {
  border: 2px solid rgb(222, 210, 195);
  height: 384px;
}

#board-detail {
  position: absolute;
}

#jobs,
#ship-icons {
  height: 384px;
  width: 576px;
  position: absolute;
  margin: 0;
}

#jobs li {
  position: absolute;
}

#jobs li .icon {
  z-index: 1;
  position: relative;
  left: -8px;
  top: -8px;
  height: 16px;
  width: 16px;
  font-size: 14px;
}

#jobs li .icon img {
  position: absolute;
  height: 100%;
  width: 100%;
}

#jobs li .icon .image-number {
  position: absolute;
  height: 85%;
  width: 100%;
  text-align: center;
  color: rgb(213, 205, 101);
}

#jobs li .bubble {
  display: block;
  z-index: 0;
  cursor: default;
  opacity: 0;
  min-width: 81px;
  position: relative;
  background-color: rgb(187, 178, 166);
  padding: 0.5rem;
  border-radius: 5px;
}

#jobs li .icon:hover {
  left: -10px;
  top: -10px;
  height: 20px;
  width: 20px;
  cursor: pointer;
  font-size: 17.5px;
}

#jobs li .icon:hover + .bubble {
  display: block;
  z-index: 2;
  opacity: 1;
}

#jobs li .name {
  font-size: 1rem;
  margin: 0.25rem 0;
}

#jobs li p {
  font-size: 0.75rem;
  margin: 0.1rem 0;
}

#jobs li .hazard-pay {
  display: none;
}

#ship-icons li {
  position: absolute;
}

#ship-icons img {
  position: relative;
  left: -10px;
  top: -10px;
  height: 20px;
  width: 20px;
}

#days-to-loc {
  position: absolute;
  display: none;
  z-index: 1;
}

#days-to-loc span {
  position: relative;
  font-size: 14px;
  padding: 2px;
  border-radius: 10px;
  height: 20px;
  width: 20px;
  top: -10px;
  left: -50%;
  color: rgb(14, 14, 69);
  background-color: rgb(71, 200, 204);
}
