#dashboard h3 {
  margin: 0.75rem;
}

#dashboard > button {
  width: 100%;
}

#other-actions {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#trade {
  width: 39%;
}

#play-card {
  width: 59%;
}
