#info {
  background-color: rgb(187, 178, 166);
}

#info nav {
  background-color: var(--card-400);
}

#info nav:hover {
  cursor: pointer;
}

#info-tabs ul {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

#info-tabs li {
  width: 100%;
  text-align: center;
  padding: 0.5rem 0;
}

#info-tabs li.active {
  background-color: rgb(187, 178, 166);
}

#info-content {
  padding: 0;
}

#info-content ul {
  margin: 0;
}

#info-content article {
  display: none;
}

#info-content article.active {
  display: block;
}

#round-info {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem;
}

.info-players-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-player-entry {
  width: 80%;
  padding: 0.5rem 1rem;
  display: none;
  margin: 0.5rem auto;
  border: 2px solid var(--button-disabled);
  border-radius: 6px;
}

.info-player-entry.red {
  background-color: var(--background-red);
}

.info-player-entry.green {
  background-color: var(--background-green);
}

.info-player-entry.blue {
  background-color: var(--background-blue);
}

.info-player-entry.purple {
  background-color: var(--background-purple);
}

.info-player-name {
  display: flex;
  align-items: center;
}

.info-player-name img {
  height: 2rem;
  width: 2rem;
}

.info-player-name span.squish {
  display: inline-block;
  font-size: 0.67rem;
  -webkit-transform: scale(1, 1.5) translateY(-8%); /* Safari and Chrome */
  -moz-transform: scale(1, 1.5) translateY(-8%); /* Firefox */
  -ms-transform: scale(1, 1.5) translateY(-8%); /* IE 9 */
  -o-transform: scale(1, 1.5) translateY(-8%); /* Opera */
  transform: scale(1, 1.5) translateY(-10%); /* W3C */
}

.info-player-stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-player-stats img {
  height: 1.5rem;
  width: 1.5rem;
}

.info-player-money,
.info-player-exp {
  display: flex;
  align-items: center;
}

.info-player-stats span {
  margin: 0 0.5rem;
}
